{% extends "base.html" %}
{% block content %}
{% include "form_errors.html" %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>비밀번호 변경</h4>
        </div>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="password1">현재 비밀번호</label>
            <input type="password" class="form-control" name="origin_password" id="origin_password">
        </div>
        <div class="form-group">
            <label for="password2">새 비밀번호</label>
            <input type="password" class="form-control" name="new_password" id="new_password">
        </div>
        <div class="form-group">
            <label for="password3">새 비밀번호 확인</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password">
        </div>
        <div class="form-group">
            <label for="profile_image">프로필 사진 변경</label><br>
            <input class="btn btn-outline-dark flex-shrink-0" type="file" id="profile_image" name="profile_image"></input>
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
</div>
{% endblock %}